<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<body>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h4 class="display-4">Bem-vindo ao Hospital Node</h4>
            <p class="lead">Este é um simples projeto em Node JS.</p>
            <hr class="my-4">
            <p>Descrição detalhada aqui!</p>
            <!--<a class="btn btn-success" href="#" role="button">Leia mais</a>-->
            <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable">
  Saiba mais
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Hospital Node</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>O Hospital Node é um projeto simples que foi criado para 
        identificar e classificar pacientes que chegam a um hospital e sejam possíveis
        portadores do vírus COVID-19.</p>
        <p>Este projeto ainda tem como objetivo possibilitar o estudo desta tecnlogia utilizando
        as prncipais dependências do Node JS  e banco de dados Mysql.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>
          </div>
         </div>
    </body>
<%- include('../partials/footer.ejs') %>

