<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="container">
    <hr>
    <div class="card"> 
        <div class="card-header">
            <h2 class="text-center">Cadastro de Hospital</h2>
        </div>
        <div class="card-body">
             
    <div class="row">
    <div class="col">
      <input type="text" class="form-control" name="nome" placeholder="Nome">
    </div>
    <div class="col">
      <input type="number" class="form-control" name="cnpj" placeholder="CNPJ">
    </div>
  </div><br>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" name="endereco" placeholder="Endereco">
    </div>
    <div class="col">
      <input type="number" class="form-control" name="numero" placeholder="Número">
    </div>
  </div><br>
   <div class="row">
    <div class="col">
       <input class="form-control" type="text" name="complemento" placeholder="Complemento">
       
    </div>
    <div class="col">
      <input class="form-control" type="number" name="cep" placeholder="CEP">
    </div>
  </div><br>
  <div class="row">
    <div class="col">
     <input class="form-control" type="text" name="bairro" placeholder="Bairro">
       
    </div>
    <div class="col">
      <input class="form-control" type="text" name="cidade" placeholder="Cidade">
    </div>
  </div><br>
  <input class="form-control" type="text" name="uf" placeholder="Estado (UF)"><br>
  <button class="btn btn-success btn-block">Cadastrar</button>
</form>




         </form>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>

