<%- include partials/header.ejs %>
<%- include partials/homenavbar.ejs %>
<body>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h4 class="display-4">Bem-vindo ao Hospital Node</h4>
            <p class="lead">Este é um simples projeto em Node JS.</p>
            <hr class="my-4">
            <p>Descrição detalhada aqui!</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a>
          </div>
        <hr>
  
            <div class="card">
                <div class="card-header">
                   
                </div>
                <div class="card-body">
                    <a href="#" class="btn btn-success">Saiba mais</a>
                </div>
            </div>
            <br>
            <div class="row">
            <div class="col col-12">
                <a style="float:right" href="/articles/page/2">Next >>></a>
            </div>
            <hr>
        </div>
        <hr>
    </div>
</body>

<%- include partials/footer.ejs %>
